# Archivos de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.cache

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo